
.link_menu {
    margin: 0px;
    list-style-type: none;
    opacity: 1;
}

.link_menu li {
        list-style-type: none;
        margin: 0px;
    display: inline;
    text-decoration-color: orangered;
    opacity: 1;
}
li{
    list-style-type: none;
    margin: 0px;
    float: left;
}
li a{
    border-radius: 20px;
    list-style-type: none;
    margin: 0px;
    text-align: center;
    display: block;
    width: 200px;
    height: 60px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: darkblue;
}
li a:hover:not(.active){
background-color: black;
    opacity: 0.75;
        color: orangered;
}
.active{
    background-color: midnightblue;
}
.box {
        position: fixed;
        border:none;
        border-radius: 4px;
        background-color: gainsboro;
        opacity:1;
        top :15px;
        width:1250px;
        height: 90px;
        left: 55px;
        right: 20px;
        padding: 0px;
}

.login {
            color: green;
            position: relative;
            border: none;
            border-radius: 20px;
            background-color: lightgray;
            top: 200px;
            left:460px;
            text-align: center;
            width:400px;
            height: 300px;
            
}
.cgpa_box{
            color: green;
            position: relative;
            border: none;
            border-radius: 20px;
            background-color: lightgray;
            top: 200px;
            left:500px;
            text-align: center;
            width:400px;
height: 200px;
}

form {
    display: inline-block;
    vertical-align: middle;
    

}

div {
    background-color: ghostwhite;
    padding: 20px;
    width:1260px;
    height: 450px;
    position: relative;
    border: none;
    border-radius: 4px;
    top :110px;
    left :20px;
    overflow: auto;
    margin: 0%;
}
.the_main_php{
    background-color: ghostwhite;
    padding: 20px;
    width:1100px;
    height: 420px;
    position: relative;
    border: none;
    border-radius: 4px;
    top :130px;
    left :50px;
    overflow: auto;
    padding-left: 100px;
}


h1 {
    text-align: center;
    color: darkblue;
}

h3 {
        text-align: center;
color: cadetblue;
}


.cgpa_headding {
color: darkblue;
}
